beautifulsoup4==4.8.2
html5lib==1.0.1
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy>=1.9.2
requests==2.22.0
rope==0.16.0
scikit-learn==0.24.0
scipy==1.4.1
seaborn==0.10.0
matplotlib>=1.4.3
pandas>=1.0.1
path==13.1.0
